.contacts {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  background-color: #fff;

  @media (max-width: 1150px) {
    flex-wrap: wrap;
    height: 100%;
  }

  @media (max-width: 880px) {
    padding-top: 140px;
  }

  @media (max-width: 682px) {
    padding-top: 170px;
  }

  @media (max-width: 479px) {
    padding-top: 80px;
  }

  .contactsWrapper {
    width: 100%;
    max-width: 1800px;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contactsBox {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 4rem;

      form {
        width: 100%;
        max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 2rem;

        input {
          width: 100%;
          padding: 0.5rem;
          outline: none;
          border: 3px solid transparent;
          border-radius: 20px;
          background-image: linear-gradient(white, white),
            linear-gradient(
              180deg,
              rgba(253, 185, 18, 1) 0%,
              rgba(90, 185, 89, 1) 100%
            );
          background-origin: border-box;
          background-clip: padding-box, border-box;
        }

        textarea {
          width: 100%;
          padding: 0.5rem;
          outline: none;
          resize: none;
          border: 3px solid transparent;
          border-radius: 20px;
          background-image: linear-gradient(white, white),
            linear-gradient(
              180deg,
              rgba(253, 185, 18, 1) 0%,
              rgba(90, 185, 89, 1) 100%
            );
          background-origin: border-box;
          background-clip: padding-box, border-box;
        }

        h2 {
          font-size: 2rem;
        }

        button {
          width: 100%;
          max-width: 160px;
          outline: none;
          border: 2px solid transparent;
          transition: 250ms ease-in-out;
          background-color: var(--green);
          color: #fff;
          font-size: 1.1rem;
          border-radius: 20px;
          padding: 0.5rem 1rem;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            border: 2px solid var(--green);
            background-color: transparent;
            color: var(--green);
          }
        }
      }

      .socialBox {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;

        p {
          font-size: 1.5rem;
          font-weight: bold;
        }

        a {
          color: #000;
          text-decoration: none;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          &:hover {
            color: var(--green);
          }
        }

        .facebook {
          color: #3b5998;
          font-size: 3rem;
        }

        .linkedin {
          color: #0072b1;
          font-size: 3rem;
        }
      }

      .agreeBox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        div {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 5px;
          margin-bottom: 1rem;

          input {
            width: 15px;
          }
        }

        p {
          font-size: 0.9rem;
          color: grey;
        }
      }
    }
  }
}
